<div class="container mx-auto py-4">
  <h1 class="text-3xl">Builders Reactor</h1>
  <div class="card w-96 bg-base-100 shadow-xl my-4">
    <div class="card-body">
    <h2 class="card-title">Obtain data from Builders World shop</h2>
    <p>Last updated: __</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Download</button>
    </div>
  </div>
  </div>
  <div class="card w-96 bg-primary text-primary-content my-4">
  <div class="card-body">
    <h2 class="card-title">Process changes</h2>
    <p>Last updated: __</p>
    <div class="card-actions justify-end">
      <button class="btn">Process now</button>
    </div>
  </div>
  </div>

<div class="card w-96 bg-base shadow-xl my-4">
  <div class="card-body">
    <h2 class="card-title">Obtain data from Buildxact</h2>
    <p>Last updated: __</p>
    <div class="card-actions justify-end">
      <button class="btn">Download</button>
    </div>
  </div>
</div>

<div class="card w-96 bg-primary text-primary-content my-4">
  <div class="card-body">
    <h2 class="card-title">Create changes recipy</h2>
    <p>Last executed: __</p>
    <div class="card-actions justify-end">
      <button class="btn">Process now</button>
    </div>
  </div>
  </div>


<div class="card w-96 bg-base shadow-xl my-4">
  <div class="card-body">
    <h2 class="card-title">Update data on Buildxact</h2>
    <p>Status: up-to-date with last recipy.</p>
    <div class="card-actions justify-end">
      <button class="btn">Execute changes</button>
    </div>
  </div>
</div>

</div>
